target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### node js modules
**/node_modules/

# gradle results
build/
.gradle/
src/main/frontend/dist

# creds for database in docker
.env
# creds to join leetcode
/src/main/frontend/cypress.env.json
# 4 lab properties to connect database
application.properties
/.gradle/
